.wrapper-central{
    min-height: 100vh;
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.icon-points-attention {
    width: 100px;
    margin-bottom: 0px;
}

.wrapper-central{
    width: 1903px;
    margin-bottom: 0px;

}

.wrapper-central .txt-intro h1 {
    font-weight: 500;
    margin: 0 0 5px;
}

.wrapper-central h1 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 5px;
}

.wrapper-central{
    padding-top: 100px;
    min-height: inherit;
    padding-bottom: 10px;
}

div {
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.wrapper-central p {
    color: #bbe5ff;
    line-height: 1.2;
}

h2 {
    font-weight: 300;
    color: #fff;
    font-size: 25px;
}

.row-kpi {
    margin: 0 -25px;
}

.col-kpi {
    transition: all ease-in-out 0.25s;
    padding: 0 25px;
}

.unit-kpi {
    color: #fff;
    text-align: center;
    padding: 40px 50px 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    transition: all ease-in-out 0.25s;
}

.link-details {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    padding-left: 26px;
    transition: all ease-in-out 0.25s;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.unit-kpi a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.unit-kpi .counter {
    font-size: 80px;
    font-weight: 300;

}

.unit-kpi .categorie {
    font-size: 24px;
    font-weight: 300;
}

.unit-kpi .sub-infos {
    font-size: 16px;
    font-weight: 300;

}

.unit-kpi p {
    margin: 0;
    color: #ffffff;
}

.unit-kpi img {
    width: 70px;
    margin: 10px auto 0;
}

p {
    display: block;
}

.col-kpi:hover {
    transform: scale(1.03);
}

.link-details:hover {
    color: #ffea04;
}

.link-details:hover .link-kpi{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.link-kpi:hover{
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}



.d-flex {
    display: flex!important;
}


.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
}

.bouton {
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none !important;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.bouton.btn-white {
    background: #fff;
    color: #004bbe;
}

.bouton.btn-bleu {
    background: #002f7d;
    color: #fff;
}

.bouton.btn-white:hover {
    background: #e3e4e2;
}

.bouton.btn-bleu:hover {
    background: #00255d;
}

