
.container {
    max-width: 1140px;
}

.bandes-contenus .bande.bande-1 {
    background: url(../../../assets/img/weakspot-mesuer-empreinte-web.jpg) center no-repeat;
    background-size: cover;
}
.bandes-contenus .bande.bande-2 {
    background: url(../../../assets/img/weakspot-mesuer-empreinte-web2.jpg) center no-repeat;
    background-size: cover;
}

.bandes-contenus .bande {
    padding: 150px 0;
    position: relative;
}


.bandes-contenus {
    position: relative;
}



.bandes-contenus .bande.bande-1 .container .content-pedag {
    color: #fff;
}

.bandes-contenus .bande.bande-2 .container .content-pedag {
    color: #fff;
}

.bandes-contenus .bande.bande-1 .container .content-pedag h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}

.bandes-contenus .bande.bande-1 .container .content-pedag h3 span {
    text-transform: uppercase;
    display: block;
    font-size: 64px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0;
}

.bandes-contenus .bande.bande-2 .container .content-pedag h3 {
    margin: 0;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}

.bandes-contenus .bande.bande-2 .container .content-pedag h3 span {
    text-transform: uppercase;
    display: block;
    font-size: 64px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0;
}

.bandes-contenus .bande.bande-1:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bouton {
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none !important;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}


.col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.bouton.btn-gradient {
    padding: 12px 40px;
    color: #fff;
    background: #1f5fc2;
    background: linear-gradient(to right, #1f5fc2 0%, #00bffe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f5fc2', endColorstr='#00bffe', GradientType=1);
}



