.details-techniques {
    display: block;
    background: #164c92;
    padding: 50px 0 70px;
}

.container {
    max-width: 1140px;
}

.details-techniques .bloc-titre {
    color: #fff;
    font-weight: 300;
}

.details-techniques .bloc-titre img {
    width: 80px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.details-techniques .bloc-titre h3 {
    margin: 0;
    font-weight: 300;
}

h3 {
    font-size: 1.75rem;
}

.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    max-width: 50%;
}

.details-techniques .listing-details {
    background: #123d75;
}

.details-techniques .listing-details .thead {
    color: #002f7d;
    font-size: 16px;
    font-weight: 500;
    background: #86cbf5;
    padding: 10px 15px;
}

.col-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.details-techniques .listing-details .tbody {
    font-size: 15px;
    color: #fff;
    max-height: 390px;
    overflow-y: scroll;
}

.details-techniques .listing-details .tbody .row {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px dashed #fff;
}

.details-techniques .bloc-recommandations {
    color: #fff;
    border: 1px solid #86cbf5;
    padding: 30px 40px;
}

.details-techniques .bloc-recommandations h4 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.details-techniques .bloc-recommandations ul li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 30px;
    list-style: none;
}

.details-techniques .bloc-recommandations ul li .number {
    font-size: 65px;
    color: #86cbf5;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.8;
}

.details-techniques .bloc-recommandations ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.details-techniques .bloc-recommandations ul li p.titre-reco {
    font-size: 18px;
    color: #86cbf5;
}

.details-techniques .bloc-recommandations ul li p {
    font-size: 15px;
    color: #fff;
}
