.details-techniques {
    display: block;
    background: #164c92;
    padding: 50px 0 70px;
}

.container {
    max-width: 1140px;
}

.details-techniques .listing-details.listing-history a {
    color: #fff;
    text-decoration: none;
}