header .logo-weakspot-dashboard {
    display: block;
    width: 140px;
    position: absolute;
    top: 13px;
    left: 5%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

header {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 60px;
}

header .logo-weakspot {
    width: 140px;
    position: absolute;
    top: 13px;
    left: 50%;
    -webkit-transform: translateX(-50%);
}

header .log-links {
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}


.icon-user {
    margin-top: -15px;
    width: 32%;
}


header .log-user {
    color: #000;
    text-decoration: none !important;
    line-height: 1.1;
    display: inline-block;
}

header .log-user p {
    font-size: 16px;
    margin: 0;
}

header .log-user small {
    color: #1879c8;
}



header .logout {
    position: absolute;
    top: 100%;
    left: -15px;
    color: #000;
    background: #fff;
    font-size: 13px;
    width: 152px;
    padding: 10px 40px 10px 15px;
    border-top: 1px solid #ddd;
    display: none;
}

.log-links:hover .logout{
    display: block;
}

.logout:hover {
    color: #1879c8;
}

.form-search-nav {
    max-width: 700px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0 0 1px 20px;
    background: url(../../img/icon-search.svg) bottom 9px left 2px no-repeat;
    background-size: 20px auto;
    color: #666;
    font-weight: 300;
    border-radius: 0;

}

.form-search-nav:hover{

}

form {
    display: block;
    margin-top: 0em;
}
