@import url(header.css);
@import url(div1.css);
@import url(div2_details.css);
@import url(div2_admin-details.css);
@import url(div2_history.css);
@import url(div2_mails-details.css);
@import url(div2_update-details.css);
@import url(footer.css);

body{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
}

div{
    display: block;
}