.wrapper-central {
    min-height: 100vh;
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
}


.container {
    max-width: 1140px;
}

.wrapper-central .icon-loupe-yellow {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.wrapper-central h1 {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.wrapper-central .ipt-search-main {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    text-align: center;
    padding: 10px 20px;
}

