header {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 60px;
}

header .logo-weakspot {
    width: 140px;
    position: absolute;
    top: 13px;
    left: 50%;
    -webkit-transform: translateX(-50%);
}

header .log-links {
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}


.icon-user {
    margin-top: -15px;
    width: 32%;
}


header .log-user {
    color: #000;
    text-decoration: none !important;
    line-height: 1.1;
    display: inline-block;
}

header .log-user p {
    font-size: 16px;
    margin: 0;
}

header .log-user small {
    color: #1879c8;
}



header .logout {
    position: absolute;
    top: 100%;
    left: -15px;
    color: #000;
    background: #fff;
    font-size: 13px;
    width: 152px;
    padding: 10px 40px 10px 15px;
    border-top: 1px solid #ddd;
    display: none;
}

.log-links:hover .logout{
    display: block;
}

.logout:hover {
    color: #1879c8;
}