h1{
    font-weight: lighter;
    font-size: 36px;
}
.login{
    background-color: white;
    padding: 40px 30px;
    max-width: 400px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.bouton{
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.bouton.btn-bleu{
    background: #002f7d;
    color: #fff;
}
